@import "tailwindcss";

@layer components {
  .social-btn {
    @apply w-full h-12 mb-3
    flex items-center justify-center gap-3
    border border-gray-300 rounded-lg
    bg-white text-sm font-medium
    hover:bg-gray-100 transition;
  }
}

@theme{
  
}